@model AltairScope.Models.ViewablePropertyViewModel

@if(Model.ReturnRate_Mean != null)
{
	<div class="editor-label">
		@Html.LabelFor(model => model.InitialCash)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.InitialCash)
		@Html.ValidationMessageFor(model => model.InitialCash)
	</div>
	
	<div class="editor-label">
		@Html.LabelFor(model => model.EstimatedAppreciationRate)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.EstimatedAppreciationRate)
		@Html.ValidationMessageFor(model => model.EstimatedAppreciationRate)
	</div>
	
	<div class="editor-label">
		@Html.LabelFor(model => model.VacancyFirstYear)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.VacancyFirstYear)
		@Html.ValidationMessageFor(model => model.VacancyFirstYear)
	</div>
	
	<div class="editor-label">
		@Html.LabelFor(model => model.VacancySubsequentYear)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.VacancySubsequentYear)
		@Html.ValidationMessageFor(model => model.VacancySubsequentYear)
	</div>
	
	<div class="editor-label">
		@Html.LabelFor(model => model.Score)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.Score)
		@Html.ValidationMessageFor(model => model.Score)
	</div>

	<div class="editor-label">
		@Html.LabelFor(model => model.ReturnRate_Mean)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.ReturnRate_Mean)
		@Html.ValidationMessageFor(model => model.ReturnRate_Mean)
	</div>

	<div class="editor-label">
		@Html.LabelFor(model => model.CashFlow_Mean)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.CashFlow_Mean)
		@Html.ValidationMessageFor(model => model.CashFlow_Mean)
	</div>
	
	<div class="editor-label">
		@Html.LabelFor(model => model.MortgageMonthly)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.MortgageMonthly)
		@Html.ValidationMessageFor(model => model.MortgageMonthly)
	</div>

	<div class="editor-label">
		<label>10y Return Rates</label>
	</div>
	<div class="editor-field">
		<table>
			<th>
				@for (int i = 1; i <= 10; i++)
				{
					<td>@string.Format("y{0}", i)</td>
				}
			</th>
			<tr>
				<td>Return%</td>
				@foreach (var rr in Model.ReturnRateList)
				{
					<td>@string.Format("{0:0.00%}", rr)</td>
				}
			</tr>
			<tr>
				<td>Cashflow</td>
				@foreach (var cf in Model.CashFlowList)
				{
					<td>@string.Format("{0:C0}", cf)</td>
				}
			</tr>
		</table>
	</div>
}
		-------------------------------------------------------------
@using (Ajax.BeginForm("Evaluate", "Property", new AjaxOptions { UpdateTargetId = "evaluationResult", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
  {
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true)

			 @Html.HiddenFor(model => model.Id)

		<div class="editor-label">
            @Html.LabelFor(model => model.EvaluatePrice)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.EvaluatePrice)
			@Html.ValidationMessageFor(model => model.EvaluatePrice)
		</div>
	  
		<div class="editor-label">
            @Html.LabelFor(model => model.EvaluateRental)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.EvaluateRental)
			@Html.ValidationMessageFor(model => model.EvaluateRental)  @string.Format("{0}", Model.EvaluateRental * 0.75)
		</div> 
	  
		<div class="editor-label">
            <label for="FixedVacancy">Fixed Vacancy Ratio</label>
		</div>
		<div class="editor-field">
			<select id="FixedVacancy" name="FixedVacancy" data-val="true">
				<option value="true" selected ="selected">Yes</option>
				<option value="false">No</option>
			</select>
		</div>
	  
			<p>
				
				<input type="submit" value="Evaluate" />
			</p>
  }