@model AltairScope.Models.ChangeStatusPropertyViewModel

@{
    ViewBag.Title = @Model.Address;
}

<h2>Change Status</h2>
<div>
	@Html.ActionLink("Edit", "Edit", new {id = Model.Id})
    @Html.ActionLink("View", "View" , new {id = Model.Id})
</div>
<br>

@using (Html.BeginForm("ChangeStatus", "Property", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ChangeStatusPropertyViewModel</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

		<div class="editor-label ">
            @Html.LabelFor(model => model.Url_Redfin)
        </div>
        <div class="editor-field wide-field">
			@if (!string.IsNullOrEmpty(@Model.Url_Redfin))
			{
			<a href="@Model.Url_Redfin">@Model.Url_Redfin</a>
			}
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.Availability)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Availability, Model.Availability)
            @Html.ValidationMessageFor(model => model.Availability)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.DecisionStatus)
		</div>
		<div class="editor-field">
			@Html.EnumDropDownListFor(model => model.DecisionStatus, Model.DecisionStatus)
			@Html.ValidationMessageFor(model => model.DecisionStatus)
		</div>

		<div class="editor-label">
            @Html.LabelFor(model => model.OfferPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferPrice)
            @Html.ValidationMessageFor(model => model.OfferPrice)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.Remark)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Remark, new { rows = 4 })
            @Html.ValidationMessageFor(model => model.Remark)
        </div>

        <p>
            <input type="submit" value="Change" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

	<script>
		$(document).ready(function () {
			$("#Availability").change(function () {
				var newAvailability = $(this).val();
				var currentStatus = $("#DecisionStatus").val();
				if (newAvailability == "PENDING" || newAvailability == "SOLD" || newAvailability == "DELISTED") {
					if (currentStatus == "OFFERED") {
						$("#DecisionStatus").val("REJECTED");
					} else if (newAvailability == "TO_OFFER" || newAvailability == "AGENT_NOTIFIED" ||
							   newAvailability == "MAYBE" || newAvailability == "NOT_DECIDED") {
						$("#DecisionStatus").val("UNABLE_TO_OFFER");
					}
				}
			});


			if ($("#DecisionStatus").val() != "OFFERED" && $("#OfferPrice").val() == "")
				$("#OfferPrice").hide();

			$("#DecisionStatus").change(function () {
				if ($("#OfferPrice").val() != "")
					return;
				var newStatus = $("#DecisionStatus").val();
				if (newStatus == "OFFERED") {
					$("#OfferPrice").show();
				} else {
					$("#OfferPrice").hide();
				}
			});
		});
	</script>
}
