@model AltairScope.Models.ViewablePropertyViewModel

@{
    ViewBag.Title = "View";
}

<h2>View Property</h2>

    <fieldset>
        <legend>ViewablePropertyViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field wide-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Neighbourhood)
        </div>
        <div class="editor-field wide-field">
            @Html.EditorFor(model => model.Neighbourhood)
            @Html.ValidationMessageFor(model => model.Neighbourhood)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.NeighbourhoodUrl)
        </div>
        <div class="editor-field wide-field">
            @Html.EditorFor(model => model.NeighbourhoodUrl)
            @Html.ValidationMessageFor(model => model.NeighbourhoodUrl)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.SaleType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.SaleType, Model.SaleType)
            @Html.ValidationMessageFor(model => model.SaleType)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.Availability)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Availability, Model.Availability)
            @Html.ValidationMessageFor(model => model.Availability)
        </div>

        <div class="editor-label ">
            @Html.LabelFor(model => model.Url_Redfin)
        </div>
        <div class="editor-field wide-field">
            @Html.EditorFor(model => model.Url_Redfin)
            @Html.ValidationMessageFor(model => model.Url_Redfin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url_Zillow)
        </div>
        <div class="editor-field wide-field">
            @Html.EditorFor(model => model.Url_Zillow)
            @Html.ValidationMessageFor(model => model.Url_Zillow)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url_Ziprealty)
        </div>
        <div class="editor-field wide-field">
            @Html.EditorFor(model => model.Url_Ziprealty)
            @Html.ValidationMessageFor(model => model.Url_Ziprealty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bed)
            @Html.ValidationMessageFor(model => model.Bed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SquareFoot)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SquareFoot)
            @Html.ValidationMessageFor(model => model.SquareFoot)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxRate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaxRate)
            @Html.ValidationMessageFor(model => model.TaxRate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tax)
            @Html.ValidationMessageFor(model => model.Tax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BuildingRatio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BuildingRatio)
            @Html.ValidationMessageFor(model => model.BuildingRatio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hoa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hoa)
            @Html.ValidationMessageFor(model => model.Hoa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxableTax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaxableTax)
            @Html.ValidationMessageFor(model => model.TaxableTax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxableAdditions)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaxableAdditions)
            @Html.ValidationMessageFor(model => model.TaxableAdditions)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxableTotal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaxableTotal)
            @Html.ValidationMessageFor(model => model.TaxableTotal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FMV_Zestimate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FMV_Zestimate)
            @Html.ValidationMessageFor(model => model.FMV_Zestimate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FMV_Smartzip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FMV_Smartzip)
            @Html.ValidationMessageFor(model => model.FMV_Smartzip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FMV_Eappraisal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FMV_Eappraisal)
            @Html.ValidationMessageFor(model => model.FMV_Eappraisal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FMV_Mean)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FMV_Mean)
            @Html.ValidationMessageFor(model => model.FMV_Mean)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rental_Zrent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rental_Zrent)
            @Html.ValidationMessageFor(model => model.Rental_Zrent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rental_Rentometer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rental_Rentometer)
            @Html.ValidationMessageFor(model => model.Rental_Rentometer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rental_Zilpy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rental_Zilpy)
            @Html.ValidationMessageFor(model => model.Rental_Zilpy)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.Rental_Mean)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rental_Mean)
            @Html.ValidationMessageFor(model => model.Rental_Mean)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ZillowGrowthRate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ZillowGrowthRate)
            @Html.ValidationMessageFor(model => model.ZillowGrowthRate)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.OfferPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferPrice)
            @Html.ValidationMessageFor(model => model.OfferPrice)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.OfferDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfferDate)
            @Html.ValidationMessageFor(model => model.OfferDate)
        </div>

		<div id="evaluationResult">
			@Html.Partial("_Evaluate", Model)
		</div>
		
		<div class="editor-label">
            @Html.LabelFor(model => model.DecisionStatus)
		</div>
		<div class="editor-field">
			@Html.EnumDropDownListFor(model => model.DecisionStatus, Model.DecisionStatus)
			@Html.ValidationMessageFor(model => model.DecisionStatus)
		</div>

		@using (Ajax.BeginForm("Evaluate", "Property", new AjaxOptions { UpdateTargetId = "evaluationResult", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true)
			<p>
				 @Html.HiddenFor(model => model.Id)
				<input type="submit" value="Evaluate" />
			</p>
		}
       
    </fieldset>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

	<script>
		var checkNeighbourhoodUrl = "@Url.Action("Check", "Neighbourhood")";
		var evaluatePropertyUrl = "@Url.Action("Evaluate", "Property")";
		$(document).ready(function () {
			$("#checkNeighbourhood").click(function () {
				$("#checkNeighbourhood").text("Checking");
				var neighbourhoodName = $("#Neighbourhood").val();
				var postData = { "name": neighbourhoodName };
				$.ajax({
					type: "GET",
					url: checkNeighbourhoodUrl,
					data: postData,
					dataType: "json"
				}).done(function (data) {
					$("#Neighbourhood").val(data.id);
					$("#neighbourhoodName").text(neighbourhoodName);
					$("#checkNeighbourhood").text("Check");
				}).error(function () {
					$("#checkNeighbourhood").text("Check");
					alert("no matched neighbourhood");
				});
			});
		});
	</script>
}
