@model AltairScope.Models.ViewablePropertyViewModel

@{
    ViewBag.Title = @Model.Address;
}

<h2>View Property</h2>
<div>
    @Html.ActionLink("Edit", "Edit" , new {id = Model.Id})
	@Html.ActionLink("Status", "ChangeStatus", new {id = Model.Id})
</div>
<br>

    <fieldset>
        <legend>ViewablePropertyViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field wide-field">
            @Html.DisplayFor(model => model.Address)
        </div>

		 <div class="editor-label">
            @Html.LabelFor(model => model.ListingDaysCount)
        </div>
        <div class="editor-field wide-field">
            @Html.DisplayFor(model => model.ListingDaysCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Neighbourhood)
        </div>
        <div class="editor-field wide-field">
            @Html.DisplayFor(model => model.Neighbourhood)
        </div>
		<div class="editor-label">
            @Html.LabelFor(model => model.NeighbourhoodVacancy)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.NeighbourhoodVacancy)
        </div>
		<div class="editor-label">
            @Html.LabelFor(model => model.NeighbourhoodUrl)
        </div>
        <div class="editor-field wide-field">
            @if (!string.IsNullOrEmpty(@Model.NeighbourhoodUrl))
			{
			<a href="@Model.NeighbourhoodUrl">@Model.NeighbourhoodUrl</a>
			}
        </div>
		<div class="editor-label">
            @Html.LabelFor(model => model.SaleType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.SaleType, Model.SaleType)
            @Html.ValidationMessageFor(model => model.SaleType)
        </div>
		<div class="editor-label">
            @Html.LabelFor(model => model.Availability)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Availability, Model.Availability)
            @Html.ValidationMessageFor(model => model.Availability)
        </div>

        <div class="editor-label ">
            @Html.LabelFor(model => model.Url_Redfin)
        </div>
        <div class="editor-field wide-field">
			@if (!string.IsNullOrEmpty(@Model.Url_Redfin))
			{
			<a href="@Model.Url_Redfin">@Model.Url_Redfin</a>
			}
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url_Zillow)
        </div>
        <div class="editor-field wide-field">
           @if (!string.IsNullOrEmpty(@Model.Url_Zillow))
		   {
			<a href="@Model.Url_Zillow">@Model.Url_Zillow</a>
		   }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url_Ziprealty)
        </div>
        <div class="editor-field wide-field">
            @if (!string.IsNullOrEmpty(@Model.Url_Ziprealty))
			{
			<a href="@Model.Url_Ziprealty">@Model.Url_Ziprealty</a>
			}
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bed)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Bed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SquareFoot)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.SquareFoot)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxRate)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.TaxRate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tax)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Tax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BuildingRatio)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.BuildingRatio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hoa)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Hoa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxableTax)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.TaxableTax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxableAdditions)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.TaxableAdditions)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxableTotal)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.TaxableTotal)
        </div>
		<div class="editor-label">
			<label>Fair Market Value</label>
		</div>
		<div class="editor-field">
			<table>
				<th>
					<td>Zestimate</td>
					<td>Smartzip</td>
					<td>Eappraisal</td>
					<td>Mean</td>
				</th>
				<tr>
					<td>FMV</td>
					<td>@Model.FMV_Zestimate</td>
					<td>@Model.FMV_Smartzip</td>
					<td>@Model.FMV_Eappraisal</td>
					<td>@Model.FMV_Mean</td>
				</tr>
			</table>
		</div>
		<div class="editor-label">
			<label>Rental</label>
		</div>
		<div class="editor-field">
			<table>
				<th>
					<td>Zrent</td>
					<td>Rentometer</td>
					<td>Zilpy</td>
					<td>Mean</td>
				</th>
				<tr>
					<td>Rental</td>
					<td>@Model.Rental_Zrent</td>
					<td>@Model.Rental_Rentometer</td>
					<td>@Model.Rental_Zilpy</td>
					<td>@Model.Rental_Mean</td>
				</tr>
			</table>
		</div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ZillowGrowthRate)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ZillowGrowthRate)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.OfferPrice)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.OfferPrice)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.OfferDate)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.OfferDate)
        </div>
		-------------------------------------------------------------
		<div class="editor-label">
            @Html.LabelFor(model => model.DecisionStatus)
		</div>
		<div class="editor-field">
			@Html.EnumDropDownListFor(model => model.DecisionStatus, Model.DecisionStatus)
			@Html.ValidationMessageFor(model => model.DecisionStatus)
		</div>

		<div id="evaluationResult">
			@Html.Partial("_Evaluate", Model)
		</div>
		
		@if(!string.IsNullOrEmpty(Model.Remark))
		{
		<div class="editor-label">
            @Html.LabelFor(model => model.Remark)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.Remark, new { rows = 4, @readonly = true })
		</div>
		}
    </fieldset>


<div>
    @Html.ActionLink("Back to List", "Index")
	<br>
	@Html.ActionLink("Edit", "Edit" , new {id = Model.Id})
	@Html.ActionLink("Status", "ChangeStatus", new {id = Model.Id})
</div>

@section Scripts {
	<script>
		var checkNeighbourhoodUrl = "@Url.Action("Check", "Neighbourhood")";
		var evaluatePropertyUrl = "@Url.Action("Evaluate", "Property")";
		$(document).ready(function () {
			$("#checkNeighbourhood").click(function () {
				$("#checkNeighbourhood").text("Checking");
				var neighbourhoodName = $("#Neighbourhood").val();
				var postData = { "name": neighbourhoodName };
				$.ajax({
					type: "GET",
					url: checkNeighbourhoodUrl,
					data: postData,
					dataType: "json"
				}).done(function (data) {
					$("#Neighbourhood").val(data.id);
					$("#neighbourhoodName").text(neighbourhoodName);
					$("#checkNeighbourhood").text("Check");
				}).error(function () {
					$("#checkNeighbourhood").text("Check");
					alert("no matched neighbourhood");
				});
			});
		});
	</script>
}
